<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @article.title %></h5>
    <p class="card-text"><%= @article.description %></p>
  </div>
</div>

<%= link_to "Edit", edit_article_path(@article), class:"btn btn-dark" %>
<%= link_to "Destroy",article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" }, class:"btn btn-dark" %>


<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<h2>Comments:</h2>
<%= render @article.comments %>





